@mixin color($fcolor, $scolor) {
  box-shadow:
    inset 0 0 2px #fff,
    inset 10px 0 20px $fcolor,
    inset -10px 0 20px $scolor,
    inset 10px 0 50px $fcolor,
    inset -10px 0 50px $scolor,
    0 0 2px #fff,
    -5px 0 20px $fcolor,
    5px 0 20px $scolor;
}

.tile {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all .3s 0s;
  overflow: hidden;
  cursor: pointer;

  &:before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;

    opacity: 0;
    background: white;
    box-shadow: 0 0 15px 3px white;
    transform: skewX(-20deg);
  }

  &.selected {
    opacity: 0.90;
    &:before {
      animation: shine 1.5s 0s linear infinite;
    }
  }
  &.yellow{
    @include color(#FFFF66, #BDB76B);
  }
  &.red{
    @include color(#DC143C, #B22222);
  }
  &.green{
    @include color(#32CD32, #2E8B57);
  }
  &.blue{
    @include color(#4169E1, #0000CD);
  }
  &.orange{
    @include color(#FF7F50, #FF4500);
  }
  &.aqua{
    @include color(#00CED1, #48D1CC);
  }
}

@keyframes shine {
  0% {
    opacity: 0;
    left: 0%;
  }

  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    left: 100%;
  }
}