.area {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 10px;
  margin-top: 10px;
}
@media screen and (max-width: 600px) {
  .area {
    grid-template-columns: repeat(6, 1fr);
    margin: 10px;
  }
}